<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {
    <!-- CSS only -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .categorybtn {
            text-align: center;
            display: block;
            border-radius: 100px;
            width: 1000px;
            height: 70px;
            margin: 0 auto;
            transition: all 50s;
            font-size: 5.5rem;
        }

        .jumbotron {
            background: #FFFFFF;
        }

        .card {

            text-align: center;

        }

        .card-img-top {
            width: 260px;
            height: 260px;

        }

    </style>

</head>
<body>

<div class="wrap">
    <div class="jumbotron">
        <div class="categorybtn">
            <button type="button" class="btn btn-outline-success">락토프리</button>
            <button type="button" class="btn btn-outline-success">멸균</button>
            <button type="button" class="btn btn-outline-success">유기농</button>
            <button type="button" class="btn btn-outline-success">초코</button>
            <button type="button" class="btn btn-outline-success">딸기</button>
            <button type="button" class="btn btn-outline-success">바나나</button>
            <button type="button" class="btn btn-outline-success">커피</button>
            <button type="button" class="btn btn-outline-success">민트</button>
            <button type="button" class="btn btn-outline-success">어린이</button>
            <button type="button" class="btn btn-outline-success">반려동물</button>
        </div>
    </div>


    <div class="card-deck">
        <div class="card">
            <img src="http://www.bing.co.kr/upload/product/20171113JNY3IZ.jpg" class="card-img-top" alt="바나나맛우유사진">
            <div class="card-body">
                <h5 class="card-title">바나나맛우유</h5>
                <p class="card-text">우유/가공유</p>
                <p class="card-text"><small class="text-muted">빙그레</small></p>
            </div>
        </div>
        <div class="card">
            <img src="http://absolute.maeil.com/upload/product/display/A0000392__201905101016409570.jpg"
                 class="card-img-top" alt="바나나맛우유사진">
            <div class="card-body">
                <h5 class="card-title">바나나는원래하얗다</h5>
                <p class="card-text">우유/가공유</p>
                <p class="card-text"><small class="text-muted">매일유업</small></p>
            </div>
        </div>
        <div class="card">
            <img src="https://www.dongwonfnb.com/upload/2019/08/14/18/03/1565773398586/c23e69dbe6db44cf943ec043a564d192.jpg"
                 class="card-img-top" alt="바나나맛우유사진">
            <div class="card-body">
                <h5 class="card-title">덴마크바나나맛우유</h5>
                <p class="card-text">우유/가공유</p>
                <p class="card-text"><small class="text-muted">동원우유</small></p>
            </div>
        </div>
        <div class="card">
            <img src="https://www.dongwonfnb.com/upload/2019/08/14/17/55/1565772952674/a1dd352879e54b89a749ca12d0c5fe9b.jpg" class="card-img-top" alt="바나나맛우유사진">
            <div class="card-body">
                <h5 class="card-title">덴마크바나바나우유</h5>
                <p class="card-text">우유/가공유</p>
                <p class="card-text"><small class="text-muted">동원우유</small></p>
            </div>
        </div>
        <div class="card">
            <img src="https://www.dongwonfnb.com/upload/2019/08/14/17/35/1565771736790/2f4c81f6e5f24420b0e4a88db8881e25.jpg"
                 class="card-img-top" alt="바나나맛우유사진">
            <div class="card-body">
                <h5 class="card-title">덴마크건강한바나바나우유</h5>
                <p class="card-text">우유/가공유</p>
                <p class="card-text"><small class="text-muted">동원우유</small></p>
            </div>
        </div>
        <div class="card">
            <img src="https://www.dongwonfnb.com/upload/2019/05/27/20/11/1558955508207/6f80c8445d6d41a5bb89246f7843fe00.jpg"
                 class="card-img-top" alt="바나나맛우유사진">
            <div class="card-body">
                <h5 class="card-title">덴마크목장 무항생제인증 원유 담은 바나나우유</h5>
                <p class="card-text">우유/가공유</p>
                <p class="card-text"><small class="text-muted">동원우유</small></p>
            </div>
        </div>
    </div>
</div>
</div>

<div class="card-deck">
        <div class="card">
            <img src="https://www.yonseidairy.com/data/item/prev_img/goods/thumb-10291_288x288.jpg" class="card-img-top" alt="바나나맛우유사진">
            <div class="card-body">
                <h5 class="card-title">바나나멸균우유</h5>
                <p class="card-text">우유/가공유/멸균</p>
                <p class="card-text"><small class="text-muted">연세우유</small></p>
            </div>
        </div>
        <div class="card">
            <img src="https://www.yonseidairy.com/data/item/1573646608/thumb-7I2464Sk7J28_67CU64KY64KY7ZCB64u5_288x288.jpg"
                 class="card-img-top" alt="바나나맛우유사진">
            <div class="card-body">
                <h5 class="card-title">바나나퐁당 우유</h5>
                <p class="card-text">우유/가공유</p>
                <p class="card-text"><small class="text-muted">연세우유</small></p>
            </div>
        </div>
        <div class="card">
            <img src="http://www.seoulmilk.co.kr/Product_Data/pimages/13_GOODS_13.jpg"
                 class="card-img-top" alt="바나나맛우유사진">
            <div class="card-body">
                <h5 class="card-title">서울우유바나나</h5>
                <p class="card-text">우유/가공유</p>
                <p class="card-text"><small class="text-muted">서울우유</small></p>
            </div>
        </div>
        <div class="card">
            <img src="http://www.seoulmilk.co.kr/Product_Data/pimages/10000000000183_GOODS_6.jpg" class="card-img-top" alt="바나나맛우유사진">
            <div class="card-body">
                <h5 class="card-title">바나나</h5>
                <p class="card-text">우유/가공유</p>
                <p class="card-text"><small class="text-muted">서울우유</small></p>
            </div>
        </div>
        <div class="card">
            <img src="http://www.seoulmilk.co.kr/Product_Data/pimages/10000000000340_GOODS_7.jpg"
                 class="card-img-top" alt="바나나맛우유사진">
            <div class="card-body">
                <h5 class="card-title">맛단지바나나우유</h5>
                <p class="card-text">우유/가공유</p>
                <p class="card-text"><small class="text-muted">서울우유</small></p>
            </div>
        </div>
        <div class="card">
            <img src="https://www.dongwonfnb.com/upload/2019/05/27/20/11/1558955508207/6f80c8445d6d41a5bb89246f7843fe00.jpg"
                 class="card-img-top" alt="바나나맛우유사진">
            <div class="card-body">
                <h5 class="card-title">덴마크목장 무항생제인증 원유 담은 바나나우유</h5>
                <p class="card-text">우유/가공유</p>
                <p class="card-text"><small class="text-muted">동원우유</small></p>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>